@charset "utf-8";
/*
    contents.css
*/

/*** date_area02 ***/
.date_area02 {position:relative;}
.date_area02 button.ui-datepicker-trigger {position:absolute;right:6px;top:0px;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;}
.time_area input {width:60px;}

.radio_area li{float:left;margin-left:30px;}
.radio_area li:first-child{margin-left:0;}
.radio_area li input[type="radio"]{width:20px;height:20px;vertical-align:top;}
.radio_area li input + label{padding-left:7px;}
.radio_area:after{content:"";display:block;clear:both;}

/* list */
.inp_list li {position:relative;margin-top:10px;padding-left: 57px;line-height:30px;font-size:14px;color: #4c4c4e;}
.inp_list li .s_tit {position:absolute;left:0;top:0;padding-left:13px;letter-spacing:-0.05em;}
.inp_list li .s_tit:before {content:"";display:block;position:absolute;top:15px;left:0;width:4px;height:1px;background-color:#4c4c4e;}

.inp_list02 .inp_area{position:relative;padding-right:63px;}
.inp_list02 .inp_area a{position: absolute;right:0;top:3px;border-color:#404b57;background-color:#404b57;}
.inp_list02 .txt{padding:15px 15px 10px 12px;}
.inp_list02 .txt li{padding-top:5px;}
.inp_list02 .txt li:first-child{padding-top:0;}

.btn_list{position:relative;padding-right:80px;}
.btn_list a{position:absolute;right:0;top:0;}

.data_list_ty > .li{position:relative;margin-top:10px;padding:0 102px 0 134px;}
.data_list_ty > .li .tit{position:absolute;left:20px;top:5px;padding-left:10px;color:#000;}
.data_list_ty .li .tit:before{content:"";display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#4c4c4e;}
.data_list_ty .li.ty_flex{background-color:#f4f4f4;padding:10px 20px 10px 134px;}
.data_list_ty .li.ty_flex .ti {top:15px;}
.data_list_ty .inp_list > li.li:first-child{margin-top:0;}
.data_list_ty .inp_list > li.li{padding-right:80px;}

.data_list_ty02 .li {position:relative;padding-left:130px;margin-top:10px;}
.data_list_ty02 .li:first-child {margin-top:0;}
.data_list_ty02 .tit {position:absolute;left:0;top:9px;letter-spacing:-0.05em;}

.txt_list{display:table;width:100%;}
.txt_list span{display:table-cell;vertical-align:middle;}
.txt_list .btn{float: right;padding-left:20px;}

.time_list li{margin-top:5px;}
.time_list li:first-child{margin-top:0;}
.time_list .tit{position:relative;color:#000;padding:0 18px 0 9px;display: inline-block;}
.time_list .tit:before{content:'';position:absolute;left:0;top:8px;width:3px;height:3px;background:#000;}
.time_list .txt{display:inline-block;width:140px;float:right;}
.time_list li:after{content:"";display:block;clear:both;}

/* table_head */
.table_head {position:relative;margin-bottom:10px;min-height:34px;text-align:center;}
.table_head .count {position:absolute;left:0;top:10px;font-size:16px;text-align:left;}
.table_head .count span {font-size:18px;font-weight:bold;}
.table_head .btn_area {position:absolute;bottom:0;right:0;margin:0;}
.table_head02 {margin-bottom:15px;}
.table_head03 {position:relative;padding-top:15px;margin-bottom:-22px;}
.table_head03 .right{position: absolute;right:0;top:0;}
.table_head h6.title{position: absolute;left:0;top:0;}

/* status_board */
.status_board {display:inline-block;margin:10px auto 0;}
.status_board li {position:relative;float:left;padding:0 15px;color:#666;}
.status_board li a {color:#666;}
.status_board li:first-child {padding-left:0;}
.status_board li strong {color:#4c4c4c;}
.status_board li:after {content:"";display:block;width:1px;height:8px;background-color:#ccc;position:absolute;left:0;top:6px;}
.status_board li:first-child:after {display:none;}
.status_board:after {content:"";display:block;clear:both;}

.status_board.ty02 li {padding:0 30px;font-size:14px;color:#000;font-weight:bold;letter-spacing:-0.05em;}
.status_board.ty02 li:first-child {padding-left:0;}
.status_board.ty02 li strong {display:inline-block;padding-left:12px;font-size:14px;color:#666;font-weight:normal;letter-spacing:0;}
.status_board.ty02 li:after {height:10px;top:4px;}
.status_board.ty03{display:block;text-align:center;margin:0 auto;}
.status_board.ty03 li{display:inline-block;float:none;color:#000;font-size:14px;padding:0 20px;letter-spacing:-0.05em;}
.status_board.ty03 li strong{font-size:15px;color:#000;font-weight:bold;padding-left:20px;}
.status_board.ty03 li:after{height:10px;top:5px;}

/* step_ty */
.step_ty {position:relative;width:875px;margin:30px auto 70px;}
.step_ty:before {position:absolute;left:68px;top:17px;width:726px;height:2px;background:#2c3345;content:"";}
.step_ty ol {display:block;width:100%;text-align:justify;}
.step_ty li {position:relative;display:inline-block;width:150px;text-align:center;vertical-align:top;}
.step_ty li i {display:block;position:absolute;left:50%;top:1px;width:30px;height:30px;margin-left:-15px;background:#fff;border:2px solid #2c3345;border-radius:100%;box-sizing:border-box;color:#000;line-height:28px;font-weight:bold;overflow:hidden;}
.step_ty li .word {display:block;width:236px;margin:0 -50px;padding-top:45px;color:#000;font-size:14px;line-height:18px;}
.step_ty li .s_txt{display:block;padding-top:4px;color:#999;}
.step_ty li.active i {left:48%;top:0;width:40px;height:40px;border-color:#ed2024;color: #ed2024;font-size:15px;line-height:36px;}
.step_ty li.active .word{font-size:18px;color: #333;line-height:24px;}
.step_ty li.on i {border-color:#ed2024;background: #ed2024 url('../images/contents/bg_step_on.png') no-repeat center;text-indent: -999px;}
.step_ty li.on .word{font-size:17px;line-height:24px;}
.step_ty ol:after {display:inline-block;width:99%;height:0;content:"";}

.step_ty02{margin:50px 2px 60px;}
.step_ty02 ol{display:table;width:100%;table-layout:fixed;}
.step_ty02 li{position:relative;display:table-cell;text-align:center;vertical-align:top;}
.step_ty02 i{display:block;position:absolute;left:50%;top:1px;width:36px;height:36px;margin-left:-18px;background:#fff;border:2px solid #ddd;border-radius:100%;box-sizing:border-box;color:#999;line-height:32px;font-weight:bold;overflow:hidden;z-index:2;}
.step_ty02 li:before{content:'';display:inline-block;position:absolute;left:50%;top:17px;width:100%;height:2px;background:#ddd;z-index:1;}
.step_ty02 li:last-child:before{display:none;}
.step_ty02 .word{display:block;padding-top:48px;color:#999;}
.step_ty02 .on:before{background:#2c3345;}
.step_ty02 .on i{border-color:#2c3345;background: #2c3345 url('../images/contents/bg_step_on.png') no-repeat center;text-indent:-999px;}
.step_ty02 .active i{border-color:#2c3345;color:#2c3345;}
.step_ty02 .active .word{color:#2c3345;}
.step_ty02 .fail i{border-color:#ed2024;background:#ed2024;color:#fff;background: #ed2024 url('../images/contents/bg_step_fail_on.png') no-repeat center;text-indent:-999px;}
.step_ty02 .fail .word{color:#ed2024;}



/*** usr ***/
.login_area{width:540px;position:absolute;left:50%;top:50%;width:540px;height:538px;margin-left:-270px;margin-top:-269px;}
.login_area .logo{overflow:hidden;height:45px;background:url('../images/contents/img_logo_login.png') center no-repeat;text-indent:-9999px;font-size:0;}
.login_area .input_list{margin-top:60px;}
.login_area input[type="text"],
.login_area input[type="password"]{border: none;background: #f8f8f8;height:60px;line-height:60px;font-size:16px;padding:0 30px;}
.login_area .input_list p{margin-top:15px;}
.login_area .input_list p:first-child{margin-top:0;}
.login_area .error{color:#ed2024;font-size:12px;margin-top:10px;}
.login_area .security_zone{margin-top:30px;}
.login_area .security_express{}
.login_area .security_express .num{vertical-align:top;display:inline-block;width:400px;height:60px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;}
.login_area .security_express .num img{max-width:100%;}
.login_area .security_express .right{display:inline-block;float:right;}
.login_area .security_express button{display:inline-block;width:60px;height:60px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;background-repeat:no-repeat;background-position:center;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}
.login_area .security_express button:hover{border-color:#666;}
.login_area .security_express .btn_refresh{background-image: url('../images/contents/btn_refresh.png');}
.login_area .security_express .btn_sound{background-image: url('../images/contents/btn_sound.png');margin-left:5px;}
.login_area .security_zone p{margin-top:15px;}
.login_area .security_zone input{background:#fff;border:1px solid #e1e1e1;}
.login_area .btn_area{text-align:center;margin:30px 0 0;}
.login_area .btn_area a{display: block;background: #ed2024;height:60px;line-height:60px;font-weight:bold;color:#fff;font-size:18px;}
.login_area .option{margin-top:15px;}
.login_area .id_save{display:inline-block;}
.login_area .id_save input[type="checkbox"]{width:24px;height:24px;}
.login_area .id_save label{display:inline-block;height:24px;font-size:16px;vertical-align:top;padding-top:3px;}
.login_area .option .right{float:right;}
.login_area .option .right > a{display: inline-block;font-size:16px;border-bottom:1px solid #999;line-height:26px;letter-spacing:-0.05em;margin-left:20px;}

.login_area input::-webkit-input-placeholder {color:#bbb;}
.login_area input:-ms-input-placeholder {color:#bbb;}
.login_area input::-placeholder {color:#bbb;}

.usr_area {width:540px;margin:100px auto 50px;}
.usr_area .group {padding:40px 0 0;}
.usr_area .group:first-child {padding-top:0px;}

h3.title + .access_area {margin-top:-20px;}
.access_area {padding:30px 40px;background:#f8f8f8;border-bottom:1px solid #e0e0e0;}
.access_menu {margin-top:30px;width:100%;}
.access_menu:first-child {margin-top:0;}
.access_menu dt{float:left;width:30%;color:#000;font-weight:bold;}
.access_menu dt input[type="checkbox"] {width:18px;height:18px;vertical-align:top;margin-right:7px;}
.access_menu dd {float:left;width:70%;font-size:12px;}
.access_menu:after {content:"";display:block;clear:both;height:0;}


/*** one view ***/
.filter_output {display:inline-block;margin:10px auto 5px;}
.filter_output li {position:relative;float:left;padding-left:55px;color:#888;}
.filter_output li a {color:#888;}
.filter_output li:first-child {padding-left:0;}
.filter_output input[type="checkbox"]{width:18px;height:18px;vertical-align:top;}
.filter_output .cate{display:inline-block;vertical-align:top;margin-left:10px;border:1px solid #ed2024;box-sizing:border-box;border-radius:2px;padding:0 4px;min-width:30px;height:18px;font-size:11px;line-height:16px;color:#ed2024;}
.filter_output .num{display:inline-block;vertical-align:top;color:#262626;margin-left:7px;}
.filter_output:after {content:"";display:block;clear:both;}


/* design_wrap */
.design_wrap{position:relative;overflow:hidden;}

/* lnb_fold */
#lnb.lnb_fold{width:304px;height:865px;position:absolute;left:0;top:0px;margin-left:0px;padding-right:26px;box-sizing:border-box;transition:all 0.5s ease-in-out;}

.lnb_search {position:relative;margin-bottom:20px;}
.lnb_search .inner {position:relative;border:2px solid #4c4c4c;box-sizing:border-box;border-radius:3px;height:34px;}
.lnb_search .inner input {width:calc(100% - 33px);border:0;padding:8px;box-sizing:border-box;font-size:11px;line-height:18px;}
.lnb_search .inner .btn {position:absolute;right:-1px;top:-1px;width:33px;height:32px;background: #4c4c4e url('../images/layout/btn_lnb_search.png') no-repeat center;text-indent:-9999px;overflow:hidden;}
.lnb_search .inner :-ms-input-placeholder {color:#b4b4b4;}
.lnb_search .inner ::placeholder {color:#b4b4b4;}

#lnb.lnb_fold .lnb_nav{height: calc(100% - 54px);}
#lnb.lnb_fold .lnb_nav > li > a{font-size:15px;height:40px;line-height:40px;letter-spacing:0;padding:0 20px;}
#lnb.lnb_fold .lnb_dep .dep_sub{padding:10px;}
.lnb_dep .dep_sub > li{margin-top:15px;}
.lnb_dep .dep_sub > li > a{background: #d1d2d4;font-weight:bold;font-size:14px;height:30px;line-height:28px;padding-left:20px;}
.lnb_dep .dep_sub > li > a:before{display: none;}
.lnb_dep .dep_sub > li > a:after{content:"";display:block;position:absolute;top:12px;right:20px;width:9px;height:6px;background: #d1d2d4 url('../images/layout/bg_lnb_sub.png') no-repeat center;}
.lnb_dep .dep_sub > li.on > a:after{background: #d1d2d4 url('../images/layout/bg_lnb_sub02.png') no-repeat center;}
.lnb_dep .dep_sub_area ul{padding:20px;}
.lnb_dep .dep_sub_area ul > li{margin-top:15px;height:30px;line-height:32px;}
.lnb_dep .dep_sub_area ul > li:first-child{margin-top:0;}
.lnb_dep .dep_sub_area ul > li > a{padding-left:0;font-size:13px;font-weight:bold;color:#4c4c4e;}
.lnb_dep .dep_sub_area ul > li > a:before{display:none;}
.lnb_dep .dep_sub_area ul > li > a img{width:32px;height:32px;margin-right:11px;}
.lnb_fold .lnb_dep .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.lnb_fold .lnb_dep .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:6px;margin:20px 0 12px;}
.lnb_fold button.btn_act{position:absolute;right:10px;top:50%;width:16px;height:100px;margin-top:-50px;background: url('../images/contents/btn_act01.png') no-repeat center;font-size:0;}
.lnb_fold button.btn_act.on{background: url('../images/contents/btn_act01_on.png') no-repeat center;}
#lnb.lnb_fold + .contents{overflow:hidden;width:auto;margin-left:304px;float:none;height:865px;padding-top:54px;box-sizing:border-box;position:relative;transition:all 0.5s ease-in-out;}

/* added by lanian for left icons */
.subarea ul{padding:20px;}
.subarea ul > li{margin-top:15px;height:30px;line-height:32px;}
.subarea ul > li:first-child{margin-top:0;}
.subarea ul > li > a{padding-left:0;font-size:13px;font-weight:bold;color:#4c4c4e;}
.subarea ul > li > a:before{display:none;}
.subarea ul > li > a img{width:32px;height:32px;margin-right:11px;}

/* topology */
.topology_btn{position:absolute;right:0;top:0px;}
.topology_btn > a{margin-left:7px;}
.topology_btn > a:first-child{margin-left:0;}
.topology_canvas{position:relative;min-height:811px;background:#f4f4f4 url(../images/layout/cont_bg.png) repeat;margin-right:626px;transition:all 0.5s ease-in-out;}

/* control_nav */
.control_nav a {position:absolute;top:50%;display:block;width:54px;height:54px;margin-top:-28px;border-radius:100px;box-sizing:border-box;text-indent:-9999px;overflow:hidden;z-index:5;transition:all 0.4s;}
.control_nav .prev a {left:30px;background: url('../images/layout/btn_prev.png') 19px center no-repeat;}
.control_nav .prev a:hover, .control_nav .prev a:focus {background: url('../images/layout/btn_prev_on.png') 19px center no-repeat;}
.control_nav .next a {right:30px;background: url('../images/layout/btn_next.png') 23px center no-repeat;}
.control_nav .next a:hover, .control_nav .next a:focus {background: url('../images/layout/btn_next_on.png') 23px center no-repeat;}

/* palette */
.palette{background-color:#fff;width:626px;height: calc(100% - 54px);position:absolute;right:0;top:54px;box-sizing:border-box;padding-left:26px;transition:all 0.5s ease-in-out;}
.palette > .inner{position:relative;height:100%;}
.palette > .inner:before{content:'';width:100%;height:100%;display:block;box-sizing:border-box;border:2px solid #4c4c4e;position:absolute;left:0;top:0;}
.palette_con_wrap{padding:30px;box-sizing:border-box;}
.palette_con_wrap.scrollbar-inner{max-height:809px;}
.tab_con_area{padding:30px;box-sizing:border-box;}
.tab_con_area.scrollbar-inner{max-height:774px;}
.palette .mCSB_container > h6.title{margin-top:0;}

.palette .tab{position:relative;height:30px;margin-bottom:0px;background-color:#fff;}
.palette .tab li{vertical-align:top;width:25%;display: block;float:left;}
.palette .tab li a{position:relative;box-sizing:border-box;border:2px solid #4c4c4e;border-right:none;border-radius:5px 0 0 0;background-color: #4c4c4e;transition:none;font-weight:bold;font-size:11px;color:#d1d2d4;line-height:26px;height:30px;z-index:2;}
.palette .tab li a:before{content:'';display:block;position:absolute;right:0;top:-2px;width:13px;height:30px;background: #fff url('../images/contents/bg_palette_tab.png') 0 bottom no-repeat;}
.palette .tab li.on a{color:#ed2024;border-bottom:none;background-color:#fff;line-height:30px;}
.palette .tab li.on a:before{background: #fff url('../images/contents/bg_palette_tab_on.png') 0 bottom no-repeat;z-index:1;}
.palette .tab:before{content:"";display:block;width:100%;height:2px;background-color:#4c4c4e;position: absolute;left:0;bottom:0;}
.palette .tab:after{content:"";display:block;clear:both;height:0;}

.time_list_area h6.title{display:inline-block;margin:0 0 7px;vertical-align:top;}
.time_list_area .time_list{display:inline-block;float:right;margin-top:-2px;}
.time_list_area:after{content:"";display:block;clear:both;overflow:hidden;}

.palette .table_ty th,
.palette .table_ty td{letter-spacing:-0.05em;line-height:16px;}
.palette .table_ty tbody tr:hover td{background:none;}
.palette .table_ty .btn_s{min-width:52px;}
.palette .table_ty tbody tr.add_area > td{border-bottom:none;padding:10px 0;background:#fff;}

.palette .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, 
.palette .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:10px;margin-top:25px;}
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, 
.palette .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#d1d2d4;}

.palette button.btn_act{position:absolute;left:10px;top:50%;width:16px;height:100px;margin-top:-50px;background: url('../images/contents/btn_act02.png') no-repeat center;font-size:0;}
.palette button.btn_act.on{background: url('../images/contents/btn_act02_on.png') no-repeat center;}

#wrap.slid_fold .lnb_fold{left:-278px;}
/* #wrap.slid_fold .palette{width:1016px;} */
/* #wrap.slid_fold .topology_canvas{margin-right:1016px;} */
#wrap.slid_fold .contents{margin-left:26px;}
#wrap.slide_palette .topology_canvas{margin-right:26px;}
#wrap.slide_palette .palette{right:-600px;}
#wrap.slid_fold.slide_palette .lnb_fold{right:-575px;}
#wrap.slid_fold.slide_palette .contents{margin-left:26px;}
/* #wrap.slid_fold.slide_palette .palette{right:-990px;} */

.footer02{background-color:#fff;margin-top:-40px;position:relative;}



/*** PROVISIONING ***/
/* menu_list */
.menu_list ul{padding:20px 28px 20px 20px;}
.menu_list ul > li{margin-top:14px;}
.menu_list ul > li:first-child{margin-top:0;}
.menu_list ul > li > a{position:relative;display:block;width:100%;padding:0 72px 0 0;box-sizing:border-box;color:#4c4c4e;font-size:13px;}
.menu_list ul > li > a:before{display:none;}
.menu_list ul > li.on > a{color:#000;font-weight:bold;}
.menu_list ul > li .state{position:absolute;right:12px;top:0;}
.menu_list .mCustomScrollBox{height:96%;}

/* date_time_area */
.date_time_area .tit{padding-right:20px;font-size:14px;color:#000;}
.date_time_area .b_br{padding:0 2px;}
.date_time_area .date {position:relative;display:inline-block;width:150px}
.date_time_area .date button.ui-datepicker-trigger {position:absolute;right:6px;top:0px;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;}
.date_time_area .time_area{display:inline-block;margin-left:10px;}
.date_time_area.ty02{text-align:right;margin-top:10px;}



