@charset "utf-8";
/*
    popup.css
*/

/* layout */
.f_box .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:-14px}

/* popup id */
.pop_progress{width:1222px;}
.pop_progress > .scrollbar-inner{max-height:530px;}
.pop_data_change{}
.pop_view_message{}
.pop_password_inp{}
.pop_each_action{width:900px;}
.pop_each_action .pop_con_wrap > .scrollbar-inner{max-height:465px;height:465px;}
.pop_cs_data_chagne{width:586px;}
.pop_ex_command{width:570px;}
.pop_app_connection{}
.pop_ems_connection{width:580px;}
.pop_perform_graph{width:670px;}
.pop_perform_graph > .scrollbar-inner{max-height:403px;}
.pop_inquiry_conError{width:950px;}
.pop_vim_select{width:900px;}
.pop_manual_scale{width:750px;}
.pop_add_threshold{}
.pop_event_msg{width:525px;}
.pop_event_msg .pop_con_wrap > .scrollbar-inner{max-height:670px;height:670px;}
.pop_alarm_detail{}
.pop_alarm{width:400px;}

.pop_view_message textarea{height:200px;}
.pop_data_change textarea{height:125px;}

body.wpop{min-width:100%;}
.wpop .pop_perform_graph{min-width:670px;width:100%;}
.wpop .pop_inquiry_conError{min-width:950px;width:100%;}

/* float_area */
.popup .float_area.ty02 .group{box-sizing:border-box;width:50%;padding-left:10px;}
.popup .float_area.ty02 .group:first-child{padding-left:0;}
.popup .float_area.ty02 .group:last-child{overflow:hidden;width:100%;padding-left:0px;}
.popup .float_area.ty02 .group .f_box{width:100%;padding: 9px 20px 11px;}
.popup .float_area.ty02 .group .f_box:first-child{width:100%;}

.popup .float_area.ty02 .group .f_box{min-height:102px;background-color:#f8f8f8;}
.popup .float_area.ty02 .group .f_box .table_ty02{min-height:219px;max-height:218px;}
.popup .float_area.ty02 .group .f_box h4.title + .table_ty02{margin-top:9px;}
.popup .float_area.ty02 .group .f_box > textarea{height:90px;}

/* command_area */
.command_area{position:relative;margin:0 19px;}
.command_area .box{width:200px;}
.command_area .box.right{position:absolute;right:0;top:0;}
.command_area .tit{display:block;background:#4c4c4e;height:40px;line-height:42px;font-size:15px;color:#fff;text-align:center;}
.command_area .cont{box-sizing:border-box;border:2px solid #4c4c4e;border-top:none;background:#f8f8f8;padding:15px 0 10px;height:340px;}
.command_area .cont li:first-child{padding-top:0;}
.command_area .cont li a{display:block;padding:9px 20px 8px;color:#000;transition:all 0.3s;font-size:14px;color:#000;letter-spacing:-0.05em;}
.command_area .cont li a:hover,
.command_area .cont li a:focus{background:#dbdbdb;}
.command_area .cont li.on{background:#dbdbdb;}

.btn_move{position: absolute;left:50%;top:50%;margin-top:-35px;margin-left:-15px;}
.btn_move button{display:block;box-sizing:border-box;border:2px solid #4c4c4e;border-radius:4px;width:30px;height:30px;font-size:0;text-indent:-999px;cursor:pointer;transition:all 0.3s;}
.btn_move button:hover,
.btn_move button:focus {border-color:#000;}
.btn_move button.next{background: #fff url('../images/layout/btn_move_next.png') no-repeat center;}
.btn_move button.before{background: #fff url('../images/layout/btn_move_before.png') no-repeat center;margin-top:10px;}

.popup .command_area .scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.popup .command_area .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:5px;}
.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.popup .command_area .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#4c4c4e;}

/* alert_msg_cont - 윈도우, 레이어팝업 공용 */
.chk_board{text-align:right;}
.chk_board li{display:inline-block;margin-left:30px;}
.chk_board li:first-child{margin-left:0;}
.chk_board li input[type="checkbox"]{vertical-align:-4px;margin-right:6px;width:18px;height:18px;}

.perform_graph{border:1px solid #e0e0e0;margin-top:20px;box-sizing:border-box;}
.perform_graph .each{margin-top:10px;border-top:1px solid #e0e0e0;text-align:center;}
.perform_graph .each img{width:508px;}
.perform_graph .each:first-child{margin-top:0;border-top:none;}
.perform_graph + .table_ty{margin-top:30px;}

.screen_no{display:table;width:100%;height:198px;border:1px solid #e0e0e0;box-sizing:border-box;}
.screen_no .inner{position:relative;text-align:center;display:table-cell;vertical-align:middle;}
.screen_no .txt{font-size:12px;padding-top:50px;background:url('../images/contents/ico_no_data.png') no-repeat  center top;}

.chk_board + .screen_no{margin-top:20px;}
.screen_no + .table_ty{margin-top:30px;}

/* inquiry_result - 윈도우, 레이어팝업 공용 */
.inquiry_result .area{background:#d5f1f0;padding:8px 8px 8px 3px;}
.inquiry_result .tit{display:inline-block;padding:7px 10px 10px 15px;font-size:16px;}
.server_set{position:relative;height:100%;min-height:227px;}
.server_set .box_area{position:relative;overflow:hidden;height:100%;}
.server_set .box_area li{float:left;width:calc(25% - 5px);margin-left:5px;background:none;}
.server_set .box_area li:before{content:'';display:block;position:absolute;left:0;top:0;z-index:1;height:100%;width:calc(25% - 5px);margin-left:5px;}
.server_set .group{position:relative;z-index:2;padding:11px 10px 49px;box-sizing:border-box;text-align:center;}
.server_set .group .box{display:block;margin-top:5px;box-sizing:border-box;border:1px solid #fff;border-radius:5px;height:30px;color:#fff;line-height:28px;}
.server_set .group .box:first-child{margin-top:0;}
.server_set .this{position:absolute;left:0;bottom:16px;z-index:2;width:calc(25% - 5px);margin-left:5px;text-align:center;color:#fff;}
.server_set .li:nth-child(2) .this{left:25%;}
.server_set .li:nth-child(3) .this{left:50%;}
.server_set .li:nth-child(4) .this{left:75%;}
.server_set .box_area .li:nth-child(2):before{left:25%;}
.server_set .box_area .li:nth-child(3):before{left:50%;}
.server_set .box_area .li:nth-child(4):before{left:75%;}
.server_set .box_area .li.a:before{background-color:#70b850;}
.server_set .box_area .li.b:before{background-color:#fdd52e;}
.server_set .box_area .li.c:before{background-color:#ff863c;}
.server_set .box_area .li.d:before{background-color:#e84f4f;}
.server_set .box_area .li.e:before{background-color:#883b27;}
.server_set .box_area .li.f:before{background-color:#ccc;}
.server_set .box_area{content:"";display:block;clear:both;}

.inquiry_result .area02{margin-top:10px;box-sizing:border-box;height:104px;text-align:center;color:#fff;}
.inquiry_result .area02:after{content:"";display:block;clear:both;overflow:hidden;}
.inquiry_result .btm_box{float:left;width:calc(50% - 4px);margin-right:4px;}
.inquiry_result .btm_box .brick{height:50px;}
.inquiry_result .btm_box .brick + .brick{margin-top:4px;}
.inquiry_result .brick{position:relative;display:table;width:100%;height:100%;}
.inquiry_result .brick .self{display:table-cell;vertical-align:middle;}
.inquiry_result .btm_box02{float:right;width:50%;height:100%;}


/*** operating_area ***/
.operating_area{position:relative;border-top:2px solid #ccc;margin-top:30px;padding:10px 0 10px;}
.operating_area + .table_ty thead th{border-top:none;}
.operating_area > *{vertical-align:top;}
.operating_area .left{position: absolute;left:20px;top:6px;}
.operating_area .left > *{vertical-align: top;}
.operating_area .type_area{display:inline-block;}
.operating_area .type_area a{display:block;color:#999;padding-right:73px;background:url('../images/contents/btn_msg_more.png') no-repeat  right center;height:34px;line-height:34px;}

.op_srch{display:inline-block;position:relative;width:182px;height:34px;border:1px solid #999;box-sizing:border-box;border-radius:20px;padding:0 40px 0 12px;margin-left:30px;}
.op_srch input{border:none;height:32px;line-height:32px;}
.op_srch .btn_srch{position: absolute;right:2px;top:1px;background:url('../images/contents/ico_msg_srch.png') no-repeat  center;width:30px;height:30px;font-size:0;}

.page_nav {text-align:center;width:273px;margin:0 auto;}
.page_nav > a {display:inline-block;width:17px;height:30px;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s;}

.page_nav .first {margin-left:0;background-image:url('../images/contents/btn_msg_first.png');background-position: left center;}
.page_nav .prev {background-image:url('../images/contents/btn_msg_prev.png');}
.page_nav .next {background-image:url('../images/contents/btn_msg_next.png');}
.page_nav .last {margin-right:0;background-image:url('../images/contents/btn_msg_last.png');background-position: right center;}

.page_nav ul {display:inline-block;vertical-align:top;margin:0 8px;}
.page_nav li {display:inline-block;height:30px;line-height:30px;color:#b8b8b8;}
.page_nav .current{width:50px;height:30px;border:1px solid #999;border-radius:20px;box-sizing:border-box;color:#777;vertical-align:top;}
.page_nav small{padding:0 10px;}

.op_total_count{display:inline-block;line-height:34px;}
.op_total_count .count{font-size:16px;color:#999;}
.op_total_count .count strong{padding-left:5px;}

.op_value{display: inline-block;padding-left:15px;}
.op_value .ico_value{display:inline-block;font-size:9px;color:#fff;width:21px;height:21px;line-height:21px;text-align:center;vertical-align:1px;border-radius:21px;margin:0 0 0 3px;}
.op_value .ico_value:first-child{margin-left:0;}

.operating_area .right{position: absolute;right:20px;top:10px;}
.operating_area .right > *{vertical-align: top;}
.op_mask_area{display:inline-block;width:157px;height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;}
.op_mask_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;color:#888;font-size:12px;line-height:28px;}
.op_mask_area a + a{border-left: 1px solid #dcdcde;margin-left:-1px;}
.op_mask_area:after{content:"";display:block;clear:both;overflow:hidden;}

.op_play_area{display:inline-block;max-width:116px;height:30px;line-height:30px;border:1px solid #dcdcde;box-sizing:border-box;border-radius:20px;margin-left:20px;}
.op_play_area a{display:inline-block;width:50%;height:100%;float:left;text-align:center;font-size:0;height:30px;}
.op_play_area a + a{border-left: 1px solid #dcdcde;margin-left:-1px;}
.op_play_area .btn_eye{background:url('../images/contents/btn_msg_eye.png') no-repeat  center;width:42px;}
.op_play_area .btn_sound{background:url('../images/contents/btn_msg_sound.png') no-repeat  center;width:36px;}
.op_play_area .btn_pause{background:url('../images/contents/btn_msg_pause.png') no-repeat  center;width:36px;}

.op_play_area .btn_eye.off{background:url('../images/contents/btn_msg_eye_off.png') no-repeat  center;}
.op_play_area .btn_sound.off{background:url('../images/contents/btn_msg_sound_off.png') no-repeat  center;}
.op_play_area .btn_pause.off{background:url('../images/contents/btn_msg_pause_play.png') no-repeat  center;}

.op_play_area:after{content:"";display:block;clear:both;overflow:hidden;}
.operating_area .btn_window{position: absolute;right:0;top:0;display:inline-block;background:url('../images/contents/btn_msg_window.png') no-repeat  center;width:36px;height:34px;font-size:0;}

i.ico_mask{display:inline-block;background:url('../images/contents/ico_mask.png') no-repeat  center;width:12px;height:9px;vertical-align:middle;font-size:0;text-indent:-9999px;overflow:hidden;}

/* VIM 선택 */
.popup .search_area .inner{width: auto;}
.popup .search_area table{width:auto;}

/* I/F RQ & RS Messages */
.popup .textarea_box{border:1px solid #e0e0e0;padding:15px 10px;}
.popup .textarea_box textarea{border:none;}
.popup .textarea_box + .pop_con_tit{margin-top:40px;}

/* Manual Scale */
.scale_tit_area{position:relative;margin-bottom:15px;}
.scale_tit_area .tit{font-size:15px;}
.scale_tit_area .sel_area{margin-left:20px;display:inline-block;width:165px;}
.scale_tit_area .btn_area{position:absolute;right:0;top:0;margin:0;}

/* alarm_screen */
.popup .alarm_screen{position:relative;padding-top:110px;}
.popup .alarm_screen:before{content:'';position: absolute;left:0%;top:0%;width:100%;height:90px;background: #f4f4f4 url('../images/contents/alarm_screen.png') no-repeat  center;}
.popup .alarm_screen .txt p{text-align:center;font-size:13px;font-weight:bold;color:#000;}
.popup .alarm_screen .btn_area{border-top:1px solid #eee;padding-top:20px;}
.popup .alarm_screen.ty02:before{background: #f4f4f4 url('../images/contents/alarm_screen02.png') no-repeat  center;}



/*** 장비정보 테이블 스크롤 css ***/
.scroll_equipment.scrollbar-inner{padding-right:0px;max-height:280px;}
.scroll_equipment.scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.scroll_equipment.scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:-6px;}

.scroll_equipment02.scrollbar-inner{padding-right:0px;max-height:220px;}
.scroll_equipment02.scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.scroll_equipment02.scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:-6px;}