/* temporary style for draw2d */
ellipse.draw2d_HybridPort {
	/*
	fill-opacity:0.5 !important;
	stroke-width:0;
	rx:5px;
	ry:5px;
	*/
}
/*
.ui-draggable {
	cursor:move;
	max-height:80px;
}
*/

/* temporary files */
#logo {
	width:100%;
	top:10px;
	position:absolute;
	
	background-color:#1c9bab;
	color:white;
	font-size:25px;
	font-weight:200;
	line-height:45px;
	min-width:120px;
	padding-left:20px;
	
	height:60px
}
/*#logo .save {*/
#logo .save {
	float:right;
	margin-right:90px;
	border:2px solid blue;
	border-radius:14px;
	background-color:blue;
	position:relative;
	top:5px;
}

#canvas {
  padding: 0px;
  margin: 0px;
  border: 1px #e6e6e6 double;
  position: absolute;
  top: 90px;
  left: 120px;
  bottom: 90px;
  background-color: #FFFFFF;
  
  /* for v6 */
  width:800px;
  height:800px;
}

#component-container2 {
	border-top-color:black;
	border-top-width:2px;
	border-top-style:double;
}

#component-container {
	padding-top:80px;
}

#component-container2 { 
	float:left;
	padding-top:20px; 
}

#component-container > div,
#component-container2 > div {
	background-color:rgb(141,189,19);
	cursor:default;
	
	height:56px;
	width:56px;
	padding:8px;
	margin:3px 18px 0 7px;
	margin-bottom:33px;
	box-shadow:0px 5px 8px -2px rgba(0,0,0,0.2);
	border-radius:100px;
}

#component-container >div >span, 
#component-container2 >div >span {
	color:#3d3e4c;
	margin-top:15px;
	margin-left:-12px;

	display:inline-block;
	width:70px;
	font-size:0.8em;
	font-weight:500;
	line-height:1.1em;
	text-align:center;
}

.component img {
	margin-top:3px;
	margin-left:3px;
	width:47px;
	height:47px;
}