@charset "utf-8";
/*
    Layout.css
*/

/***** layout *****/
body {min-width:1600px;background:#fff;font-family:kt,'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic;color:#4c4c4e;font-size:19px;line-height:30px;-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch;overflow:hidden;}
#wrap {position:relative;}

/*** header ***/
header {position:absolute;left:0;top:0;width:100%;height:90px;background:#fff;border-bottom:1px solid #d1d2d4;z-index:10;}
header .logo {position:absolute;left:32px;top:20px;width:280px;height:51px;background:url(../images/layout/logo_red.png) center no-repeat;text-indent:-9999px;overflow:hidden;}
header .logo2 {position:absolute;left:32px;top:20px;width:295px;height:51px;background:url(../images/layout/logo.png) center no-repeat;text-indent:-9999px;overflow:hidden;}/* 17.11.10 수정 */


/** GNB **/
#gnb {position: absolute;left:470px;top:10px;}
#gnb li {float:left;}
#gnb li a {position:relative;display:block;padding:26px 20px 30px 20px;color:#4c4c4c;font-size:19px;line-height:19px;transition:all 0.4s;}
#gnb li.on a, #gnb li a:hover, #gnb li a:focus {color:#000;}
#gnb li a:after {display:block;position:absolute;left:50%;bottom:-5px;width:0;height:7px;background:#ec1f24;content:"";transition:all 0.3s;}
#gnb li.on a:after, #gnb li a:hover:after, #gnb li a:focus:after {left:0;width:100%;}
#gnb li.hidden a {color:#4c4c4c;}
#gnb li.hidden a:after {display:none;}


/** ad_info **/
.ad_info {position:absolute;right:45px;top:31px;color:#4c4c4e;font-size:19px;line-height:27px;}
.ad_info i {display:block;position:absolute;left:0;top:0;width:27px;height:27px;border:1px solid #d1d2d4;border-radius:100%;box-sizing:border-box;overflow:hidden;}
.ad_info p {padding-left:35px;}



/*** container ***/
#container {position:relative;padding:131px 45px 0 45px;}
#container:after {display:block;clear:both;height:0;content:"";}
.cont_area {position:relative;}
/*.cont_area .title {margin-bottom:45px;font-size:32px;line-height:32px;} */
.cont_area .title {margin-bottom:29px;font-size:26px;line-height:48px;} /* 20171116 */

.lay_ty .cont_area {float:right;width:calc(100% - 350px);}

/** LNB **/
#lnb {float:left;width:350px;margin-left:-45px;}

/* lnb_search */
.lnb_search {position:relative;height:82px;margin-top:-6px;padding:0 45px;}
.lnb_search .inner {position:relative;border-bottom:2px solid #4c4c4c;}
.lnb_search .inner input {width:calc(100% - 30px);border:0;padding:8px;box-sizing:border-box;font-family:kt,'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic;color:#4c4c4e;font-size:19px;vertical-align:top;outline:none;}
.lnb_search .inner .btn {position:absolute;right:0;top:8px;width:24px;height:24px;background:url(../images/layout/btn_lnb_search.png) no-repeat;text-indent:-9999px;overflow:hidden;}
.lnb_search .inner ::-webkit-input-placeholder {color:#b4b4b4;}
.lnb_search .inner ::-moz-placeholder {color:#b4b4b4;}
.lnb_search .inner :-ms-input-placeholder {color:#b4b4b4;}
.lnb_search .inner ::placeholder {color:#b4b4b4;}

/* lnb_nav */
.lnb_nav {position:relative;}
.lnb_nav a {display:block;}

/* new... disable */
/*.lnb_m {height:50px;background:#ec1f24;border-top:1px solid #fff;color:#fff;font-size:22px;transition:all 0.4s;} *//* 17.11.10 ?섏젙 */
/*.lnb_m:hover, .lnb_m:focus {background:#d21c20;}*//* 17.11.10 ?섏젙 */
/*.lnb_m span {display:table-cell;height:50px;padding:0 44px;vertical-align:middle;}*//* 17.11.10 ?섏젙 */

.lnb_m {height:50px;background:#2c3345;border-top:1px solid #fff;color:#fff;font-size:22px;transition:all 0.4s;}
.lnb_m:hover, .lnb_m:focus {background:#191e2c;}
.lnb_m span {display:table-cell;height:50px;padding:0 44px;vertical-align:middle;}


.lnb_dep {background:#f4f4f4;overflow-y:auto;}
/*.lnb_dep {background:#f4f4f4;overflow-y:auto;max-height:567px;}
.lnb_dep {background:#f4f4f4;overflow-y:hidden;max-height:567px;}*/
.lnb_dep li {margin-bottom:15px;}
.lnb_dep li:first-child {margin-top:20px;}
/*.lnb_dep a {height:56px;padding:0 45px;line-height:56px;font-size:22px;transition:all 0.4s;}*/
.lnb_dep a {height:52px;padding:1px 45px;line-height:56px;font-size:18px;transition:all 0.4s;} /* 20171116 */
.lnb_dep a:hover, .lnb_dep a:focus {color:#000;}
/*.lnb_dep i {display:inline-block;width:56px;height:56px;margin-right:15px;border-radius:3px;color:#4c4c4e;vertical-align:top;overflow:hidden;}*/
.lnb_dep i {display:inline-block;margin-right:12px;border-radius:3px;color:#4c4c4e;vertical-align:top;overflow:hidden;} /* 20171116 */
.lnb_dep i img {width:56px;height:56px;}
/*.lnb_dep > div {height:calc(100vh - 310px - 76px - 106px);min-height:417px;overflow:auto;}
.lnb_dep > div {height:calc(100vh - 310px - 46px - 106px);min-height:417px;overflow:auto;}*//* 17.11.10 수정 */
.lnb_dep > div {height:calc(100vh - 310px - 98px - 106px);min-height:398px;overflow:auto;}

.scroll-wrapper {position:relative;padding:0 !important;overflow:hidden !important;}
.scroll-wrapper > .scroll-content {position:relative !important;left:0;top:0;width:auto !important;max-width:none !important;height:auto;max-height:none;margin:0;padding:0;border:none !important;box-sizing:content-box !important;overflow:scroll !important; outline:none;}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {width:0;height:0;}
.scroll-element {display:none;}
.scroll-element, .scroll-element div {box-sizing:content-box;}
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {display:block;}
.scroll-element .scroll-bar, .scroll-element .scroll-arrow {cursor:default;}
.scrollbar-inner > .scroll-element, .scrollbar-inner > .scroll-element div {position:absolute;margin:0;padding:0;border:none;z-index:10;}
.scrollbar-inner > .scroll-element div {display:block;left:0;top:0;width:100%;height:100%;}
.scrollbar-inner > .scroll-element.scroll-x {left:0;bottom:2px;width:100%;height:7px;}
.scrollbar-inner > .scroll-element.scroll-y {right:20px;top:15px;width:7px;height:calc(100% - 30px);}
.scrollbar-inner > .scroll-element .scroll-element_outer {overflow:hidden;}
.scrollbar-inner > .scroll-element .scroll-element_outer, .scrollbar-inner > .scroll-element .scroll-element_track, .scrollbar-inner > .scroll-element .scroll-bar {border-radius:0;}
.scrollbar-inner > .scroll-element .scroll-element_track,.scrollbar-inner > .scroll-element .scroll-bar {opacity:1;}
.scrollbar-inner > .scroll-element .scroll-element_track {}
.scrollbar-inner > .scroll-element .scroll-bar {background:#4c4c4e;transition:background 0.3s;}
.scrollbar-inner > .scroll-element:hover .scroll-bar {background:#191e2c;}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {left:-12px;}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {top:-12px;}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {left:-12px;}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {top:-12px;}


/** Contents  **/
/* cont_btn */
.cont_btn {position:absolute;right:0;top:0;font-size:0;}
.cont_btn a {display:inline-block;min-width:80px;height:47px;margin-left:10px;padding:0 30px;border-radius:5px;font-size:18px;line-height:47px;text-align:center;}

/* cont */
.cont {position:relative;height:calc(100vh - 310px);min-height:600px;background:#f4f4f4 url(../images/layout/cont_bg.png) repeat;overflow:hidden;}

/* control_nav */
.control_nav a {position:absolute;top:50%;display:block;width:70px;height:70px;margin-top:-35px;border:1px solid #999;border-radius:100px;box-sizing:border-box;text-indent:-9999px;overflow:hidden;z-index:5;transition:all 0.4s;}
.control_nav .prev a {left:50px;background:#fff url(../images/layout/btn_prev.png) center no-repeat;}
.control_nav .prev a:hover, .control_nav .prev a:focus {background:#fff url(../images/layout/btn_prev_on.png) center no-repeat;border-color:#000;}
.control_nav .next a {right:50px;background:#fff url(../images/layout/btn_next.png) center no-repeat;}
.control_nav .next a:hover, .control_nav .next a:focus {background:#fff url(../images/layout/btn_next_on.png) center no-repeat;border-color:#000;}

/* under_menu */
.under_menu {position:absolute;right:18px;bottom:-85px;width:234px;height:231px;z-index:10;}
.under_menu dt {position:absolute;right:0;bottom:0;}
.under_menu dd {position:absolute;}
.under_menu dd a {display:block;transition:transform 0.3s;}
.under_menu dd a:hover, .under_menu dd a:focus {transform:scale(1.09);}
.under_menu dd.hidden a:hover, .under_menu dd.hidden a:focus {transform:scale(1);}
.under_menu .s1 {right:8px;top:0;}
.under_menu .s2 {left:37px;top:36px;}
.under_menu .s3 {left:0;top:140px;}

/* under_state_bar */
.under_state_bar {position:absolute;left:0;bottom:-466px;width:100%;background:#fff;border-top:1px solid #e0e0e0;z-index:9;transition:all 0.4s;}
.under_state_bar.on {bottom:-100px;}
.state_bar {position:relative;height:34px;padding:15px 0;overflow:hidden;}
.state_bar .list {float:left;padding:0 5px;box-sizing:border-box;color:#999;font-size:16px;line-height:34px;}
.state_bar .s1 {width:5%;text-align:center;}
.state_bar .s2 {width:8%;}
.state_bar .s3 {width:13%;}
.state_bar .s3 .inner {position:relative;width:180px;height:34px;border:1px solid #dfdfe1;box-sizing:border-box;border-radius:34px;}
.state_bar .s3 .inner input {width:100%;height:30px;padding:0 45px 0 15px;background:none;border:0;box-sizing:border-box;font-family:kt,'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic;color:#4c4c4e;font-size:13px;vertical-align:top;outline:none;}
.state_bar .s3 .inner .btn {position:absolute;right:-3px;top:7px;width:34px;height:34px;background:url(../images/layout/btn_state_bar_search.png) no-repeat;text-indent:-9999px;overflow:hidden;}
.state_bar .s3 .inner ::-webkit-input-placeholder {color:#b4b4b4;}
.state_bar .s3 .inner ::-moz-placeholder {color:#b4b4b4;}
.state_bar .s3 .inner :-ms-input-placeholder {color:#b4b4b4;}
.state_bar .s3 .inner ::placeholder {color:#b4b4b4;}
.state_bar .s4 {width:20%;}
.state_bar .s4 .paginate .btn {display:inline-block;width:16px;height:34px;margin:0 12px;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.4s;}
.state_bar .s4 .paginate .first {margin-left:0;background:url(../images/layout/btn_paginate_first.png) center no-repeat;}
.state_bar .s4 .paginate .prev {background:url(../images/layout/btn_paginate_prev.png) center no-repeat;}
.state_bar .s4 .paginate .next {background:url(../images/layout/btn_paginate_next.png) center no-repeat;}
.state_bar .s4 .paginate .last {margin-right:0;background:url(../images/layout/btn_paginate_last.png) center no-repeat;}
.state_bar .s4 .paginate .first:hover {background:url(../images/layout/btn_paginate_first_on.png) center no-repeat;}
.state_bar .s4 .paginate .prev:hover {background:url(../images/layout/btn_paginate_prev_on.png) center no-repeat;}
.state_bar .s4 .paginate .next:hover {background:url(../images/layout/btn_paginate_next_on.png) center no-repeat;}
.state_bar .s4 .paginate .last:hover {background:url(../images/layout/btn_paginate_last_on.png) center no-repeat;}
.state_bar .s4 .paginate ul {display:inline-block;padding:0 5px;}
.state_bar .s4 .paginate li {display:inline-block;padding:0 5px;color:#b8b8b8;font-size:13px;line-height:32px;letter-spacing:4px;}
.state_bar .s4 .paginate input {width:60px;height:34px;border:1px solid #dfdfe1;box-sizing:border-box;border-radius:34px;text-align:center;outline:none;}
.state_bar .s5 {width:24%;}
.state_bar .s5 p {display:inline-block;}
.state_bar .s5 strong {display:inline-block;padding-left:5px;font-size:18px;}
.state_bar .s5 .state {display:inline-block;margin-left:16px;font-size:0;}
.state_bar .s5 .state li {display:inline-block;width:20px;height:20px;margin-right:5px;border-radius:100%;color:#fff;font-size:9px;line-height:22px;text-align:center;vertical-align:top;overflow:hidden;}
.state_bar .s6 {width:30%;}
.state_bar .s6 ul {float:left;height:34px;border:1px solid #dcdcde;border-radius:34px;box-sizing:border-box;overflow:hidden;}
.state_bar .s6 li {float:left;border-left:1px solid #dcdcde;}
.state_bar .s6 li:first-child {border-left:0;}
.state_bar .s6 li a {display:block;height:34px;font-size:13px;text-align:center;transition:all 0.4s;}
.state_bar .s6 li a:hover, .state_bar .s6 li a:focus {background:#f4f4f4;}
.state_bar .s6 li.on a {background:#2c3345;color:#fff;}
.state_bar .s6 .c1 li {width:77px;}
.state_bar .s6 .c2 {margin-left:95px;}
.state_bar .s6 .c2 li {width:40px;}
.state_bar .s6 ul:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.state_bar .s6:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.state_bar .btn a {display:block;position:absolute;right:37px;top:17px;width:32px;height:32px;background:url(../images/layout/btn_state_bar_t1.png) center no-repeat;text-indent:-9999px;overflow:hidden;}

/* side_state_cont */
.side_state_cont {position:absolute;right:-657px;top:90px;width:656px;height:calc(100vh - 91px);background:#fff;border-left:1px solid #e1e1e1;transition:all 0.4s;}
.side_state_cont.on {right:0;}
.side_state_cont li {border-bottom:1px solid #e1e1e1;}



/*** Footer ***/
footer {min-width:1600px;height:100px;background:url(../images/layout/footer_logo.png) 45px 38px no-repeat;text-align:center;}
footer address {font-family:'돋움',Dotum;color:#b8b8b8;font-size:12px;font-style:normal;}

/* footer_nav */
.footer_nav {padding-top:25px;font-size:0;}
.footer_nav li {position:relative;display:inline-block;padding:0 8px;}
.footer_nav li a {display:block;padding:5px;color:#777;font-size:15px;line-height:15px;transition:all 0.4s;}
.footer_nav li a:hover, .footer_nav li a:focus {color:#000;}
.footer_nav li:after {display:block;position:absolute;left:0;top:8px;width:1px;height:10px;background:#ccc;content:"";}
.footer_nav li:first-child:after {display:none;} 



/**** Contents ****/
/*** Btn ***/
/* new disabled
.btn_ty {background:#fff;border:1px solid #ec1f24;color:#ec1f24;transition:all 0.4s;}
.btn_ty:hover, .btn_ty:focus {border-color:#d21c20;color:#d21c20;}
.btn_ty.on {background:#ec1f24;color:#fff;transition:all 0.4s;}
.btn_ty.on:hover, .btn_ty.on:focus {background:#d21c20;}
.btn_ty02 {background:#fff;border:1px solid #acacac;color:#686868;transition:all 0.4s;}
.btn_ty02:hover, .btn_ty02:focus {border-color:#686868;}
*/

.btn_ty {background:#2c3345;color:#d1d2d4;transition:all 0.4s;}
.btn_ty:hover, .btn_ty:focus {background:#191e2c;}
.btn_ty02 {background:#e8e8e9;color:#868687;transition:all 0.4s;}
.btn_ty02:hover, .btn_ty02:focus {background:#d8d8d8;}

/*** Table ***/
/** table_t**/
.table_ty table {width:100%;}
.table_ty th, .table_ty td {padding:16px 5px;color:#4c4c4e;font-size:13px;line-height:18px;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.table_ty thead th {background:#f4f4f4;padding:15px 5px;color:#777;font-size:14px;font-weight:normal;}
.table_ty tbody td {height:13px;background:#fff;transition:all 0.3s;}
.table_ty tbody tr:hover td {background:#4c4c4e;color:#fff;}
.table_ty .left {text-align:left;}
.table_ty .right {text-align:right;}
.table_ty i {display:inline-block;width:8px;height:8px;margin:5px 10px 0 0;border-radius:100%;vertical-align:top;overflow:hidden;}
.st1 {background:#e84f4f;}
.st2 {background:#ff863c;}
.st3 {background:#fdd52e;}
.st4 {background:#70b850;}
.st5 {background:#883b27;}

/**** POPUP ****/
/* 17.11.16 추가 */
.popup { position:absolute; top:50px; right:50px; min-width:470px; background-color:#fff; border:1px solid #e0e0e0; z-index:10;}
.pop_tit, .pop_tit2 {height:49px; padding:0 30px; background-color:#2c3345; color:#fff; font-size:20px; line-height:49px;}
a.btn_pop_close {display:none; position:absolute; top:-26px; right:-20px; width:53px; height:53px; background:url(../images/layout/btn_pop_close.png) no-repeat; text-indent:-9999px; overflow:hidden;}
a.btn_pop_updown {position:absolute; top:0; right:10px; width:49px; height:49px; background:url(../images/layout/btn_pop_down.png) center no-repeat; text-indent:-9999px; overflow:hidden;}
a.btn_pop_updown.on {background-image:url(../images/layout/btn_pop_up.png);}
.pop_con_wrap {padding:30px; display:none; padding-top: 25px; padding-bottom: 18px;}
.pop_con + .pop_con {margin-top:20px;}
/*.pop_con dl {position:relative; border-bottom:2px solid #f0f0f0; margin-bottom:10px;}*/
.pop_con dl {position:relative; border-bottom:2px solid #f0f0f0; margin-bottom:8px;}
/*.pop_con dt {position:absolute; top:0; left:0; width:80px; padding:0 10px; border-radius:5px 5px 0 0; background-color:#f0f0f0; color:#2c3345; font-size:16px; text-align:center;}*/
.pop_con dt {position:absolute; top:0; left:0; width:116px; padding:0 10px; border-radius:5px 5px 0 0; background-color:#f0f0f0; color:#2c3345; font-size:18px; text-align:center;}
/*.pop_con dd {padding-left:110px; color:#000; font-size:17px;}*/
.pop_con dd {padding-left:150px; color:#000; font-size:17px;}
/*.pop_con li {position:relative; padding-left:175px; font-family:'맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic; color:#666; font-size:14px; line-height:26px;}*/
.pop_con li {position:relative; padding-left:141px; font-family:'맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic; color:#666; font-size:16px; line-height:21px;}
.pop_con li strong {position:absolute; top:50%; left:20px; margin-top:-13px; padding-left:10px; font-family:kt; color:#000; font-weight:normal;}
.pop_con li strong:before {content:""; display:block; position:absolute; top:12px; left:0; width:3px; height:3px; background-color:#000;}
/*
.pop_con li input,
.pop_con li select {width:100%; height:40px; border:1px solid #e0e0e0; padding:0 10px; box-sizing:border-box; color:#666; font-family:'맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic; margin-bottom:10px;}
*/
.pop_con li input,
.pop_con li select {width:100%; height:28px; border:1px solid #e0e0e0; padding:0 10px; box-sizing:border-box; color:#666; font-family:'맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic; margin-bottom:10px;}


/* jquery-ui */
.e2e-dialog {padding:0; overflow:initial;}
/*.ui-corner-all {border:0; border-radius:0;}*/
/*.ui-widget {font-family: kt,'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic;}*/
.e2e-dialog .ui-corner-all {border:0; border-radius:0;}
.e2e-dialog .ui-widget {font-family: kt,'Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic;}
.e2e-dialog .ui-dialog-content {top:auto; right:auto; padding:0; background-color:#fff;}
.e2e-dialog .ui-dialog-titlebar {padding:0;}
.e2e-dialog .ui-dialog-title {float:none; display:block; width:auto; height:49px; padding:0 30px; margin:0; background-color:#2c3345; color:#fff; font-size:20px; line-height:49px;}
/*.ui-widget-header {font-weight:normal;}*/
/*.ui-widget .ui-widget-content {border:1px solid #e0e0e0;}*/
.e2e-dialog .ui-widget-header {font-weight:normal;}
.e2e-dialog .ui-widget .ui-widget-content {border:1px solid #e0e0e0;}
.e2e-dialog .ui-dialog-titlebar-close {top:-26px; right:-20px; width:53px; height:53px; margin:0; padding:0; border:0; background:url(../images/layout/btn_pop_close.png) no-repeat; text-indent:-9999px; overflow:hidden; z-index:91;}
.e2e-dialog .ui-dialog-titlebar-close span {display:none;}
.e2e-dialog .ui-button:hover {border:0;}
.e2e-dialog .pop_con_wrap {display:block;}
.e2e-dialog .pop_tit {display:none;}
.e2e-dialog a.btn_pop_close {display:none;}


/* added */
.staticContents .pop_con_wrap { padding: 18px 9px; padding: 14px 10px; padding-bottom: 18px;}
.staticContents .pop_con {font-size:17px; line-height:27px;}
.staticContents .pop_con li {position:relative; padding-left:141px; font-family:'맑은 고딕','돋움',Dotum,Arial,Helvetica,Apple Gothic; color:#666; font-size:16px; line-height:30px;}
.editableContents .pop_con_wrap { padding-bottom: 3px;}
.e2e-dialog .ui-button .ui-button-text {    
	display: block;
    border-radius: 4;
    text-align: center;
    color: #d1d2d4;
    padding:.03em 1em;
    font-size:18px;
}
.e2e-dialog .ui-dialog-buttonpane button {
    margin: 0.4em .6em .5em 0;
    cursor: pointer;
    height:30px;
    font-weight:inherit;
    font-family:inherit;
    background:unset;
    background-color:#2c3345;
    border-radius:5px;
}
.e2e-dialog .ui-dialog-buttonpane button:hover,
.e2e-dialog .ui-dialog-buttonpane button:focus {border-color:#d21c20;color:#d21c20;}

.e2e-dialog .ui-dialog-buttonpane {
    text-align: left;
    /*border-width: 1px 0 0 0;*/
    border:unset;
    background-image: none;
    height: 49px;
    background-color: #ffffff;
    margin:0;
    padding:0 17px 10px 0;
    /*padding-bottom:16px;*/
}

