@charset "utf-8";
/*
    Common.css
*/

* {max-height:1000000px;margin:0;padding:0}
body {font-family:'kt','Malgun Gothic','맑은 고딕',"돋움",Dotum,Arial,Helvetica,AppleGothic;color:#4c4c4e;font-size:13px;line-height:18px;-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch}
img, fieldset, button {border:none}
hr, button img {display:none}
li {list-style:none}
a {color:#4c4c4e;text-decoration:none;vertical-align:top}
a:hover, a:active, a:focus, a:visited {text-decoration:none}
textarea {overflow:auto;resize:none;} 
table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center}
table img {vertical-align:top}
th, td {vertical-align:middle;word-wrap:break-word;word-break:break-all}
form  {margin:0;padding:0}
img {vertical-align:top}
legend  {position:absolute;left:0;top:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0} /* For Screen Reader */ 
caption {width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;visibility:hidden}
em {font-style:normal}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block} /* html5 */
i{font-style: normal;}

input::-ms-input-placeholder {color:#ccc;}
input::-webkit-input-placeholder {color:#ccc;}
input::-moz-placeholder {color:#ccc;}
input:-moz-placeholder {color:#ccc;}

/* moz */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

/* ms */
input[type=text]::-ms-clear {display: none;width: 0;height: 0;}/* 인터넷 익스플로러 문서모드 " IE10 " 이상에서 정상 작동 */
input[type=password]::-ms-reveal {display: none;width: 0;height: 0;}


/*** common ***/
input:focus {outline:none;}
.blind {position:absolute;left:-9999px;top:-9999px}
.point01 {color:#ed2024;}
.bgNo{background-color: #fff !important;}


/*** Title ***/
h2.title {margin-bottom:20px;color:#000;font-size:28px;font-weight:normal; line-height:1;}
h3.title {margin-bottom:20px;border-bottom:2px solid #ed2024;color:#000;font-size:17px;line-height:26px;font-weight:normal}
h3.title span {display:inline-block;padding:0 20px; margin-right:10px;color:#fff;background-color:#ed2024;border-radius:3px 3px 0 0;line-height:28px;font-size:15px;}
h4.title {padding:12px 0 14px;border-bottom:1px solid #ccc;color:#000;font-size:18px;font-weight:normal; line-height:1;}
h5.title {margin:15px 0 10px;height:32px;padding:0 19px;border:1px solid #e0e0e0;background: #d1d2d4;color:#000;font-size:15px;font-weight:normal; line-height:30px;}
h5.title label > input[type="checkbox"]{margin:0 10px 0 0;}


/*** Form ***/
select,
input[type=text],
input[type=password],
textarea {width:100%;padding:0 10px;border:1px solid #e1e1e1;box-sizing:border-box;background-color:#fff;color:#666;font-family:'kt','Malgun Gothic','맑은 고딕','돋움',Dotum,Arial,Helvetica,AppleGothic;font-size:12px}
select, input[type=text],input[type=password] {height:30px;}
select {padding:5px;}
textarea {padding:10px;}


/*** datepicker ***/
.ui-datepicker {padding:5px 10px; font-size:16px;}
.ui-datepicker.ui-widget-content {border:1px solid #ccc;background:#fff;box-shadow:5px 5px 5px rgba(0,0,0,0.05);}
.ui-datepicker.ui-corner-all,
.ui-datepicker .ui-corner-all {border-radius:0;}
.ui-datepicker .ui-datepicker-header {padding:9px 0;}
.ui-datepicker .ui-widget-header {border:none;border-bottom: 1px solid #a5a5a5;background:none;color:#4c4c4e;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {top:2px; width:35px;height:35px;}
.ui-datepicker .ui-datepicker-prev {left:2px;}
.ui-datepicker .ui-datepicker-next {right:2px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {top:0; left:0; margin:0; width:35px;height:35px;border:1px solid #e1e1e1;border-radius:2px;box-sizing:border-box;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;cursor:pointer;transition:all 0.3s}
.ui-datepicker .ui-datepicker-prev span {background-image:url('../images/layout/btn_paginate_prev.png')}
.ui-datepicker .ui-datepicker-next span {background-image:url('../images/layout/btn_paginate_next.png')}
.ui-datepicker .ui-datepicker-prev:hover span,
.ui-datepicker .ui-datepicker-prev:focus span {background-image:url('../images/layout/btn_paginate_prev_on.png');border-color:#666}
.ui-datepicker .ui-datepicker-next:hover span,
.ui-datepicker .ui-datepicker-next:focus span {background-image:url('../images/layout/btn_paginate_next_on.png');border-color:#666}
.ui-datepicker .ui-state-hover,
.ui-datepicker.ui-widget-content .ui-state-hover,
.ui-datepicker .ui-widget-header .ui-state-hover {border:none; background:none;}
.ui-datepicker thead {border-bottom:1px solid #dedede;}
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {border:none;background:none;color:#4c4c4e; font-weight:normal;text-align:center;}
.ui-datepicker .ui-state-default:hover { font-weight:bold;}
.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight {background-color:#f8f8f8; font-weight:bold;}
.ui-datepicker th.ui-datepicker-week-end:first-child span,
.ui-datepicker .ui-datepicker-week-end:first-child a.ui-state-default {color:#ff3000;}
.ui-datepicker th.ui-datepicker-week-end:last-child span,
.ui-datepicker .ui-datepicker-week-end:last-child a.ui-state-default {color:#0078ff;}


/*** Btn ***/
.btn_l {display:inline-block;min-width:100px;height:34px;padding:0 10px;border-radius:5px;box-sizing:border-box;font-size:14px;line-height:32px;letter-spacing:-0.05em;text-align:center;vertical-align:middle;transition:all 0.3s}
.btn_m {display:inline-block;min-width:70px;height:30px;padding:0 10px;border-radius:2px;box-sizing:border-box;font-size:12px;line-height:27px;letter-spacing:-0.05em;text-align:center;vertical-align:middle;transition:all 0.3s}
.btn_s {display:inline-block;min-width:70px;height:24px;padding:0 10px;border-radius:2px;box-sizing:border-box;font-size:11px;line-height:22px;text-align:center;vertical-align:middle;transition:all 0.3s}
.btn_co01 {border:2px solid #ec1f24;background-color:#fff;color:#ed2024}
.btn_co01:hover, .btn_co01:focus {border-color:#d21c20;color:#d21c20}
.btn_co01.on {background-color:#ec1f24;color:#fff}
.btn_co01.on:hover, .btn_co01.on:focus {background-color:#d21c20}
.btn_co02 {border:2px solid #acacac;background-color:#fff;color:#686868}
.btn_co02:hover, .btn_co02:focus {border-color:#686868}
.btn_co02.on {background-color:#acacac;color:#fff}
.btn_co02.on:hover, .btn_co02.on:focus {background-color:#686868}
.btn_co03 {border:1px solid #ccc;background-color:#fff;color:#999}
.btn_co03:hover, .btn_co03:focus {border:1px solid #bbb;color:#888}
.btn_co03.on {border-color:#404b57;background-color:#404b57;color:#fff}
.btn_co03.on:hover, .btn_co03.on:focus {border-color:#313a44;background-color:#313a44}

.btn_area {text-align:right;margin:20px 0}
.btn_area a + a {margin-left:3px}
.btn_area.ty02{border-top: 1px solid #ccc;margin:0 0 20px;padding-top:20px;}
.btn_area + h3.title {margin-top:-20px;}

.btn_updown{display:inline-block;width:34px;height:34px;border:1px solid #acacac;border-radius:3px;box-sizing:border-box;font-size:0;text-indent:-9999px;vertical-align:middle;transition:all 0.3s;background: no-repeat center;}
.btn_updown:hover,
.btn_updown:focus{border-color:#686868;}
.btn_updown.first{background-image:url('../images/layout/bt_up_first.png');}
.btn_updown.prev{background-image:url('../images/layout/bt_up_prev.png');}
.btn_updown.next{background-image:url('../images/layout/bt_down_next.png');}
.btn_updown.last{background-image:url('../images/layout/bt_down_last.png');}
.btn_updown + .btn_updown{margin-left:0;}

i.autoskip{display:inline-block;vertical-align:middle;background: url('../images/layout/btn_autoskip.png') no-repeat right 1px;width:14px;height:8px;}
.skip_area{position:relative;display: inline-block;width:100px;margin-left:3px;}
.skip_area .list{display:none;position:absolute;left:0;top:36px;width:100px;text-align:center;background: #fff;border: 2px solid #acacac;border-radius:5px;box-sizing:border-box;padding:2px 0;}
.skip_area .list li{padding:5px;}
.skip_area + a{margin-left:3px;}


/*** Tab ***/
.tab {display:table;width:100%;height:55px;margin-bottom:20px}
.tab li {display:table-cell;text-align:center;vertical-align:bottom}
.tab li a {display:block;height:45px;border-left:1px solid #e0e0e0;box-sizing:border-box;background-color:#f4f4f4;color:#999;font-size:16px;line-height:45px;transition:all 0.3s}
.tab li:first-child a {border-left:none}
.tab li a:hover {color:#777}
.tab li.on a {height:55px;border:none;background-color:#2c3345;color:#fff;line-height:55px}
.tab li.on + li a {border-left:none}
.tab li.on + li + li a {border-left:1px solid #e0e0e0}

.tab_con {position:relative;display:none}
.tab_con.on {display:block}


/*** Table ***/
.table_ty {position:relative}
.table_ty table {}
.table_ty th, .table_ty td {padding:5px;box-sizing:border-box;color:#4c4c4e;line-height:18px;vertical-align:middle;word-wrap:break-word;word-break:break-all}
.table_ty th input, .table_ty td input { vertical-align:middle}
.table_ty thead th {height:37px;background:#f4f4f4;color:#777;border-top:2px solid #ccc;font-size:13px;font-weight:normal;}
.table_ty tbody td {height:35px;background:#fff;transition:all 0.3s;border-bottom:1px solid #e1e1e1;transition:all 0.4s;font-size:12px;}
.table_ty tbody tr:hover td {background:#f9f9f9}
.table_ty tbody tr td a {display:block;width:100%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;transition:all 0.4s}
.table_ty tbody tr:hover td a,
.table_ty tbody tr td a:hover {}
.table_ty tbody tr.on td,
.table_ty tbody tr.on:hover td {background:#4c4c4e;color:#fff}
.table_ty tbody tr.on td a {color:#fff}
.table_ty .left {text-align:left}
.table_ty .right {text-align:right}

.table_ty .btn_s {display:inline-block;width:auto;text-overflow:unset;white-space:unset;word-wrap:unset; overflow:unset;transition: all 0.3s;}
.table_ty .btn_align{position:relative;display:inline-block;vertical-align:middle;width:20px;height:33px;box-sizing:border-box;padding-top:8px;}
.table_ty .btn_align .up{}
.table_ty .btn_align .down{}
.table_ty .btn_align .up,
.table_ty .btn_align .down {display:block;position:relative;width:20px;height:8px;text-indent:-999px;overflow:hidden}
.table_ty .btn_align .up:before,
.table_ty .btn_align .down:before {content:"";display:block;position:absolute;top:50%;left:50%;margin:-2px 0 0 -3px;border-top:4px solid #4c4c4e;border-left:3px solid transparent;border-right:3px solid transparent}
.table_ty .btn_align .up:before {border-top:none;border-bottom:4px solid #4c4c4e}
.table_ty .btn_align .up:focus:before,
.table_ty .btn_align .up:hover:before {border-bottom:4px solid #000}
.table_ty .btn_align .down:focus:before,
.table_ty .btn_align .down:hover:before {border-top:4px solid #000}

.table_ty02 {position:relative}
.table_ty02 table {}
.table_ty02 th,
.table_ty02 td {height:21px;padding:5px;box-sizing:border-box;font-size:12px;color:#4c4c4e;line-height:16px;vertical-align:top;text-align:left;}
.table_ty02 tbody th {font-weight:normal;color:#000;}
.table_ty02 tbody td {color: #444;padding-right:7px;}

.table_form {padding:0 15px; margin-bottom:30px}
.table_form table {}
.table_form table th,
.table_form table td {padding:5px;text-align:left}
.table_form table th {font-size:14px;font-weight:normal;letter-spacing:-0.05em}
.table_form table th > span {display:inline-block;position:relative;padding-left:10px}
.table_form table th > span:before {content:"";display:block;position:absolute;top:7px;left:0;width:3px;height:3px;background-color:#4c4c4e}
.table_form table td {color:#666; font-size:12px}
.table_form tbody tr.bg th,
.table_form tbody tr.bg td {background:#d1d2d4}
.table_form table .date {position:relative}
.table_form table .hasDatepicker {padding-right:42px}
.table_form table button.ui-datepicker-trigger {position:absolute;right:6px;top:6px;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer}
.table_form.bg {padding:15px;margin-bottom:45px;border-top:2px solid #ccc;border-bottom:1px solid #e0e0e0;background-color:#f8f8f8}
.table_form.bg .btn_area {margin:15px 0 5px;text-align:center}
h3.title + .table_form {margin-top:-20px;border-top:none;}
.table_form + .table_form{margin-top:-25px;}
.table_form.ty02 table th,
.table_form.ty02 table td {padding:10px 5px;}
.table_form.ty02 table + table{margin-top: -10px;}
.table_form.ty03{padding-top: 5px;padding-bottom: 5px;}

.ty_flex{position: relative;padding-right:110px;}
.ty_flex.bgc{background: #f4f4f4;}
.ty_flex .btn_area{position: absolute;right:20px;top:50%;margin:-15px 0;}

.table_form02 table th,
.table_form02 table td {padding:5px;text-align:left}
.table_form02 table th {font-size:16px;font-weight:normal;letter-spacing:-0.05em}
.table_form02 table td {color:#666; font-size:12px}
.table_form02 + h5.title{margin-top:10px;}

/* table_result */
.table_result {padding:15px;background-color:#f8f8f8;}
.table_result table {max-width:780px;margin:0 auto}
.table_result table th,
.table_result table td {padding:5px;text-align:left; vertical-align:top;}
.table_result table th {padding-top:10px;font-size:15px;font-weight:normal}
.table_result textarea {height:260px;}
h3.title + .table_result {margin-top:-20px;}

/* list */
.inp_list{}
.inp_list li{position: relative;margin-top:10px;padding-left: 57px;line-height:30px;font-size:14px;color: #4c4c4e;}
.inp_list li .s_tit{position: absolute;left:0;top:0;padding-left:13px;}
.inp_list li .s_tit:before{content:"";display:block;position:absolute;top:15px;left:0;width:4px;height:1px;background-color:#4c4c4e}

.btn_list{position:relative;padding-right:80px;}
.btn_list a{position:absolute;right:0;top:0;}

.data_list_ty > .li{position: relative;margin-top:10px;padding:0 102px 0 134px;}
.data_list_ty > .li .tit{position: absolute;left:20px;top:5px;color:#000;font-weight:normal;padding-left:10px;}
.data_list_ty .li .tit:before {content:"";display:block;position:absolute;top:7px;left:0;width:3px;height:3px;background-color:#4c4c4e}
.data_list_ty .li.ty_flex{background-color: #f4f4f4;padding:10px 20px 10px 134px;}
.data_list_ty .li.ty_flex .tit{top:15px;}
.data_list_ty .inp_list > li.li:first-child{margin-top:0;}
.data_list_ty .inp_list > li.li{padding-right:80px;}


/*** search_area ***/
.search_area {padding:10px 15px;margin-bottom:30px;border-top:2px solid #ccc;border-bottom:1px solid #e0e0e0;background-color:#f8f8f8;text-align:center}
.search_area table {max-width:900px;margin:0 auto}
.search_area table th,
.search_area table td {padding:5px;text-align:left}
.search_area table th {font-size:16px;font-weight:normal}
.search_area table th > span {display:inline-block;position:relative;padding-left:10px}
.search_area table th > span:before {content:"";display:block;position:absolute;top:7px;left:0;width:3px;height:3px;background-color:#4c4c4e}
.search_area table .date {position:relative}
.search_area table .date .hasDatepicker {padding-right:42px}
.search_area table .date button.ui-datepicker-trigger {float: left;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer;margin-left:-41px;}
.search_area table td .btn_l {height:37px; line-height:35px;}
.search_area .date_area {}
.search_area .date_area input {width:47%;float: left;}
.search_area .date_area .b_br {width:6%;display: inline-block;text-align: center;float: left;line-height: 30px;}
.search_area .date_area:after {content:"";display:block;clear:both}

.search_area .inner {position:relative;width:905px;box-sizing:border-box;margin:0 auto;padding-right:110px;}
.search_area .inner > table{}
.search_area .inner > table + .btn_area{position: absolute;right:0;top:5px;margin:0;}
.search_area .inner > table + .btn_area .btn_l {font-size:15px;height:30px;line-height:28px;}
.search_area .inner > table + .btn_area .btn_l.ty02 {height:70px;line-height:68px;}


/*** paginate ***/
.paginate {text-align:center;margin-top:20px}
.paginate > a {display:inline-block;width:30px;height:30px;margin:0 3px;border:1px solid #e1e1e1;border-radius:2px;box-sizing:border-box;background:center no-repeat;font-size:0;text-indent:-9999px;overflow:hidden;transition:all 0.3s}
.paginate > a:hover,
.paginate > a:focus {border-color:#666}
.paginate .first {margin-left:0;background-image:url('../images/layout/btn_paginate_first.png')}
.paginate .prev {background-image:url('../images/layout/btn_paginate_prev.png')}
.paginate .next {background-image:url('../images/layout/btn_paginate_next.png')}
.paginate .last {margin-right:0;background-image:url('../images/layout/btn_paginate_last.png')}
.paginate .first:hover, .paginate .first:focus {background-image:url('../images/layout/btn_paginate_first_on.png')}
.paginate .prev:hover, .paginate .prev:focus {background-image:url('../images/layout/btn_paginate_prev_on.png')}
.paginate .next:hover, .paginate .next:focus {background-image:url('../images/layout/btn_paginate_next_on.png')}
.paginate .last:hover, .paginate .last:focus {background-image:url('../images/layout/btn_paginate_last_on.png')}
.paginate ul {display:inline-block;padding:0 25px}
.paginate li {display:inline-block}
.paginate li a {display:block;position:relative;width:30px;height:30px;color:#4c4c4e;font-size:15px;line-height:28px;transition:all 0.3s}
.paginate li a:after {content:"";display:block;position:absolute;bottom:0;left:50%;width:0;height:1px;background-color:#ed2024;transition:all 0.3s}
.paginate li a:hover,
.paginate li.select a {color:#ed2024}
.paginate li.select a:after,
.paginate li a:hover:after {left:0;width:100%}

/* table_head */
.table_head{position:relative;text-align: center;margin-bottom:10px;height:34px;}
.table_head .count {font-size:16px;position: absolute;left:0;top:10px;text-align:left;}
.table_head .count span {font-size:18px;font-weight:bold}
.table_head .btn_area {position:absolute;top:0;right:0;margin:0}
.table_head02{margin-bottom:15px;}

/* status_board */
.status_board{display: inline-block;margin:10px auto 0;}
.status_board li{position:relative;float:left;color:#888;padding:0 15px;}
.status_board li a{color:#888;}
.status_board li:first-child{padding-left:0;}
.status_board li strong{color: #4c4c4c;font-weight: normal;}
.status_board li:after{content:"";display:block;width: 1px;height:8px;background-color: #ccc;position: absolute;left:0;top:6px;}
.status_board li:first-child:after{display: none;}
.status_board:after {content:"";display:block;clear:both}

.status_board.ty02 li{font-size:16px;color: #000;padding:0 30px;}
.status_board.ty02 li:first-child{padding-left:0;}
.status_board.ty02 li strong{font-size:14px;color: #666;display: inline-block;padding-left:12px;}
.status_board.ty02 li:after{height:10px;top:4px}


/**** Contents ****/
.date_area02 {position:relative;}
.date_area02 button.ui-datepicker-trigger {position:absolute;right:6px;top:0px;width:35px;height:30px;background:url('../images/layout/btn_datepicker.png') no-repeat center;text-indent:-1000px;overflow:hidden;cursor:pointer}

.time_area{}
.time_area input{width:60px;}

.radio_area{}
.radio_area li{float:left;margin-left:30px;}
.radio_area li:first-child{margin-left:0;}
.radio_area li input[type="radio"]{width:20px;height:20px;vertical-align:top;}
.radio_area li input + label{padding-left:7px;}
.radio_area:after {content:"";display:block;clear:both}