@charset "utf-8";
/*
    Layout.css
*/

/***** layout *****/
html {}
body {min-width:1370px;background:#fff;overflow-x:hidden}
#wrap {position:relative;overflow: hidden;}


/*** header ***/
header {position:fixed;left:0;top:0;width:100%;height:70px;min-width:1370px;background:#fff;border-bottom:1px solid #d1d2d4;z-index:10}
header .logo {position:absolute;left:45px;top:19px;width:277px;height:32px;background:url('../images/layout/logo.png') center no-repeat;text-indent:-9999px;overflow:hidden}
/* GNB */
#gnb {position:relative;padding:0 150px 0 500px;line-height:0}
#gnb > ul {display:inline-block;line-height:40px;}
#gnb > ul:after {content:"";display:block;clear:both}
#gnb > ul > li {float:left;position:relative}
#gnb > ul > li > a {position:relative;display:block;height:70px;padding:0 20px;color:#737373;font-size:17px;line-height:70px;transition:all 0.4s}
#gnb > ul > li.on > a,
#gnb > ul > li.active > a,
#gnb > ul > li a:hover,
#gnb > ul > li > a:focus {color:#000}
#gnb > ul > li > a:after {content:"";display:block;position:absolute;left:50%;bottom:0;width:0;height:7px;background:#ec1f24;transition:all 0.3s}
#gnb > ul > li.on > a:after,
#gnb > ul > li.active > a:after,
#gnb > ul > li > a:hover:after,
#gnb > ul > li > a:focus:after {left:0;width:100%}
#gnb > ul > li.hidden > a {color:#4c4c4c}
#gnb > ul > li.hidden > a:after {display:none}
#gnb > ul > li > ul {display:none;position:absolute;top:70px;left:-21px;width:100%;padding:10px 30px;background:#fff;border:1px solid #d1d2d4}
#gnb > ul > li > ul li {text-align:left}
#gnb > ul > li > ul li a {position:relative;color:#4c4c4e;font-size:16px;letter-spacing:-0.5px;transition:all 0.4s}
#gnb > ul > li > ul li.active a,
#gnb > ul > li > ul li a:hover,
#gnb > ul > li > ul li a:focus {color:#ec1f24}
#gnb > ul > li > ul li a:after {content:"";display:block;position:absolute;left:0;bottom:-5px;width:0;height:2px;background:#ec1f24;transition:all 0.3s}
#gnb > ul > li > ul li.active a:after,
#gnb > ul > li > ul li a:hover:after,
#gnb > ul > li > ul li a:focus:after {width:100%}
/* ad_info */
.ad_info {position:absolute;right:45px;top:22px;color:#4c4c4e;font-size:19px;line-height:27px}
.ad_info i {display:block;position:absolute;left:0;top:0;width:27px;height:27px;border:1px solid #d1d2d4;border-radius:100%;box-sizing:border-box;overflow:hidden}
.ad_info p {padding-left:35px}


/*** Footer ***/
footer {width:100%;height:100px;background:#f8f8f8 url('../images/layout/footer_logo.png') 45px 38px no-repeat;text-align:center}
footer address {font-family:'돋움',Dotum;color:#b8b8b8;font-size:12px;font-style:normal}
/* footer_nav */
.footer_nav {padding-top:25px;font-size:0}
.footer_nav li {position:relative;display:inline-block;padding:0 8px}
.footer_nav li a {display:block;padding:5px;color:#777;font-size:15px;line-height:15px;transition:all 0.4s}
.footer_nav li a:hover, .footer_nav li a:focus {color:#000}
.footer_nav li:after {content:"";display:block;position:absolute;left:0;top:8px;width:1px;height:10px;background:#ccc}
.footer_nav li:first-child:after {display:none} 


/*** container ***/
#container {position:relative;padding:71px 45px 145px;height:100%;box-sizing:border-box}
#container:after {content:"";display:block;clear:both;height:0}

/* navigation */
#navigation {text-align:right;line-height:1;padding:15px 0 15px}
#navigation li {display:inline-block;position:relative;padding-left:15px;margin-left:7px;font-size:14px}
#navigation li:before {content:"";display:block;position:absolute;top:50%;left:0;width:5px;height:7px;margin-top:-3px;background:url('../images/layout/img_navigation_division.png') no-repeat center}
#navigation li:first-child {padding-left:0;margin-left:0}
#navigation li:first-child:before {display:none}
#navigation li img {vertical-align:middle;margin-top:-2px}

/* contents_wrap */
#contents_wrap {height:calc(100% - 64px)}

/* mCustomScrollbar */
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {opacity:1}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:7px;border-radius:0;}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {right:-29px;margin:0;}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#4c4c4e;background-color:rgba(76,76,78,1);filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {height:7px}
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {bottom:-29px;}

.contents {height:100%;}
.contents > * > .mCSB_container {min-width:1110px;}

/* lnb Command List */
#lnb {float:left;width:350px; height:545px;margin-left:-45px; overflow:hidden;}
#lnb + .contents {float:right; width:calc(100% - 350px);}
#lnb + .contents > * > .mCSB_container {min-width:810px;}
.lnb_title {display:block; height:50px; padding:0 45px; background-color:#ed2024; color:#fff; font-size:22px; font-weight:normal; line-height:50px;}
.lnb_nav {height:calc(100% - 50px);background-color:#f4f4f4;}
.lnb_nav > li > a {display:block; height:50px; padding:0 45px; border-top:1px solid #f4f4f4; background-color:#4c4c4e; color:#fff; font-size:22px; line-height:50px;}
.lnb_dep {display:none}
.lnb_dep ul {padding:30px; box-sizing:border-box;}
.lnb_dep li {margin-top:25px;}
.lnb_dep li:first-child {margin-top:0;}
.lnb_dep ul a {display:block; position:relative; padding-left:10px; color:#000; font-size:18px;}
.lnb_dep ul a:before {content:""; display:block; position:absolute; top:8px; left:0; width:3px; height:3px; background-color:#000;}
.lnb_dep .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.lnb_dep .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {right:15px;margin:12px 0;}

/* float_area */
.float_area {margin-bottom:-10px;}
.float_area:after {content:""; display:block; clear:both;}
.f_box:first-child{width:60%;}
.f_box {width:calc(40% - 20px); padding:9px 30px 11px;margin-bottom:10px; border:1px solid #e1e1e1; box-sizing:border-box;min-height: 152px;}
.float_area .fl {float:left}
.float_area .fr {float:right}
.f_box > textarea { padding:0; border:none; height:132px;}
.f_box .scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.f_box .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {right:-3px;}
.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.f_box .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#d1d2d4;background-color:rgba(209,210,212,1);filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.f_box .checkbox_area {height:60px; margin:20px 0 5px;}
.f_box .checkbox_area ul {margin-bottom:-15px;margin-left:-5%;}
.f_box .checkbox_area ul:after {content:""; display:block; clear:both;}
.f_box .checkbox_area li {float:left; font-size:12px;margin-left:5%; margin-bottom:15px;}
.f_box .checkbox_area input[type=checkbox] {width:18px; height:18px; vertical-align:top;}
.f_box .checkbox_area li label{padding-left:7px;}
.f_box .table_form {padding:0; margin:0; max-height:189px;}
.f_box .table_form table th {color:#000;}
.f_box .table_form.texList table th,
.f_box .table_form.texList table td {padding:8px 8px 7px;}
.f_box .table_form.texList.scrollbar-inner {height:130px; max-height:130px; margin:0;}

.float_area.ty02 .group{box-sizing:border-box;width:30%;padding-left:10px;}
.float_area.ty02 .group:first-child{padding-left:0;}
.float_area.ty02 .group:last-child{width:40%;padding-left:20px;}
.float_area.ty02 .group .f_box{width:100%;padding: 9px 20px 11px;}
.float_area.ty02 .group .f_box:first-child{width:100%;}
.float_area.ty02 .group .f_box{min-height:102px;}
.float_area.ty02 .group .f_box .table_ty02{min-height:219px;max-height:218px;}
.float_area.ty02 .group .f_box h4.title + .table_ty02{margin-top:9px;}
.float_area.ty02 .group .f_box > textarea{height:111px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.float_area.ty02 .group .f_box > textarea{height:107px;}
}


/**** POPUP ****/
.popup_mask {position:absolute; top:0; right:0; bottom:0; left:0; background-color:#000; opacity:.5; filter:alpha(opacity=50); z-index:50; display:none}
.popup {position:absolute; width:500px; z-index:51; display:none}
.pop_tit {height:49px;padding:0 30px;background-color:#2c3345;color:#fff;font-size:20px;line-height:49px}
.popup > .pop_close {position:absolute;top:-25px;right:-20px;width:53px;height:53px;background:url(../images/layout/btn_pop_close.png) no-repeat;text-indent:-9999px;overflow:hidden}
.pop_con_wrap {padding:30px; border:1px solid #e0e0e0; border-top:none; background-color:#fff;}
.pop_con_wrap.ty02{padding:30px 10px;}
.pop_con_tit {color:#000;font-size:16px; padding-bottom:12px;}
.popup .scrollbar-inner {height:100%; max-height:400px;}
.popup .scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.popup .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {right:-23px;}
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.popup .scrollbar-inner .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#d1d2d4;background-color:rgba(209,210,212,1);filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.popup textarea {height:200px;}
.popup .table_form {padding:0;}
.popup .table_form table th,
.popup .table_form table td {font-size:13px;}
.popup .table_form table th {color:#000;}
.popup .table_form.vTop {margin-bottom:0;}
.popup .table_form.vTop table th {vertical-align:top; padding-top:13px;}
.popup .btn_area {margin:30px 0 0;text-align:center;}
.popup .table_form.ty02 table th,
.popup .table_form.ty02 table td {padding:10px 5px;}

