@charset "utf-8";
/*
    popup.css
*/

/* layout */
.popup .f_box .scrollbar-inner .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .f_box .scrollbar-inner .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:-4px}

/* popup id */
#pop_progress{width: 1222px;}
#pop_progress.popup .scrollbar-inner{max-height:530px;}
#pop_data_change{}
#pop_view_message{}
#pop_password_inp{}
#pop_each_action{width: 900px;}
#pop_each_action.popup .pop_con_wrap > .scrollbar-inner{max-height:590px;}
#pop_cs_data_chagne{width: 586px;}

/* step_ty */
.step_ty {position:relative;width:875px;margin:30px auto 70px;}
.step_ty:before {position:absolute;left:68px;top:17px;width:726px;height:2px;background:#2c3345;content:"";}
.step_ty ol {display:block;width:100%;text-align:justify;}
.step_ty ol:after {display:inline-block;width:99%;height:0;content:"";}
.step_ty li {position:relative;display:inline-block;width:150px;text-align:center;vertical-align:top;}
.step_ty li i {display:block;position:absolute;left:50%;top:1px;width:30px;height:30px;margin-left:-15px;background:#fff;border:2px solid #2c3345;border-radius:100%;box-sizing:border-box;color:#2c3345;line-height:28px;overflow:hidden;}
.step_ty li .word {display:block;width:236px;margin:0 -50px;padding-top:45px;color:#000;font-size:14px;line-height:18px;font-weight: normal;}
.step_ty li .s_txt{display: block;font-size: 14px;color: #999;}
.step_ty li.active i {left:48%;top:0;width:40px;height:40px;border-color:#ed2024;color: #ed2024;font-size:15px;line-height:36px;}
.step_ty li.active .word{font-size:19px;color: #333;line-height:24px;}
.step_ty li.on i {border-color:#ed2024;background: #ed2024 url('../images/contents/bg_step_on.png') no-repeat center;text-indent: -999px;}
.step_ty li.on .word{font-size:17px;line-height:24px;}

/* float_area */
.popup .float_area.ty02 .group{box-sizing:border-box;width:50%;padding-left:10px;}
.popup .float_area.ty02 .group:first-child{padding-left:0;}
.popup .float_area.ty02 .group:last-child{overflow:hidden;width:100%;padding-left:0px;}
.popup .float_area.ty02 .group .f_box{width:100%;padding: 9px 20px 11px;}
.popup .float_area.ty02 .group .f_box:first-child{width:100%;}

.popup .float_area.ty02 .group .f_box{min-height:102px;background-color:#f8f8f8;}
.popup .float_area.ty02 .group .f_box .table_ty02{min-height:219px;max-height:218px;}
.popup .float_area.ty02 .group .f_box h4.title + .table_ty02{margin-top:9px;}
.popup .float_area.ty02 .group .f_box > textarea{height:90px;}




